RewriteEngine On
RewriteBase /project/

RewriteRule ^home/?$ index.php

RewriteRule ^bus/?$ views/bus/index.php
RewriteRule ^tambahbus/?$ views/bus/tambah.php
RewriteRule ^editbus/?$ views/bus/edit.php
RewriteRule ^hapusbus/?$ views/bus/hapus.php
RewriteRule ^prosesbus/?$ views/bus/proses_tambah.php

RewriteRule ^pemesanan/?$ views/pemesanan/index.php
RewriteRule ^tambahpemesanan/?$ views/pemesanan/tambah.php
RewriteRule ^editpemesanan/?$ views/pemesanan/edit.php
RewriteRule ^hapuspemesanan/?$ views/pemesanan/hapus.php
RewriteRule ^prosespemesanan/?$ views/pemesanan/proses_tambah.php
